<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RedisConfig" type="IAICN.GasFee.Infrastructure.RedisConfigInfo,IAICN.GasFee.Infrastructure" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container name="defaultContainer">
      <register type="IAICN.GasFee.Infrastructure.IRepositoryContext,IAICN.GasFee.Infrastructure" mapTo="IAICN.GasFee.Repository.DBContext.DefaultEFRepositoryContext,IAICN.GasFee.Repository">
      </register>
    </container>
  </unity>
  <connectionStrings>
    <add name="Default2" connectionString="Data Source=192.168.6.252,62999;Initial Catalog=IAI.Demo;User ID=sa;Password=q123+" providerName="System.Data.SqlClient" />
    <add name="Default" connectionString="Data Source=192.168.6.252,62999;Initial Catalog=J_Fee;User ID=sa;Password=q123+" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="CompanyId" value="12"/>
    <!--发送短信时间-->
    <add key="SendTime" value=""/>
    <!--短消息模板-->
    <add key="MsgContent" value="【智云】你好！这里是xx燃气公司，您已欠费{0}元，请在7个工作日内到附近营业厅缴纳所欠费用。"/>
    <!--欠费表查询-->
    <add key="ArrsearNameSendMsgInterval" value="SendMsgInterval"/>
    <add key="ArrsearKeySendMsgInterval" value="Days"/>
    <add key="ArrsearNameSendMsg" value="SendMsg"/>
    <add key="ArrsearKeySendMsg" value="Days"/>
    <!--获取ip接口-->
    <add key="IP" value="http://1212.ip138.com/ic.asp"/>
    <!--消息中心-->
    <add key="Source" value="GASFEE"/>
    <add key="User" value="wangxianping"/>
    <add key="AppSecret" value="3e17362085744278"/>
    <add key="MsgCenterUrl" value="http://msg.scadacc.com/"/>
    <add key="TokenApi" value="api/token?source={0}&amp;user={1}&amp;secret={2}"/>
    <add key="SendMsgApi" value="api/message/send_sms"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--log4net配置-->
  <log4net>
    <!--错误日志配置-->
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="D:\天然气计费系统\Code\IAICN.GasFee.SendSMS.Service\Log\LogError\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="MaxFileSize" value="10240" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyyMMdd&quot;.txt&quot;" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n异常时间：%d [%t] %n异常级别：%-5p %n异 常 类：%c %n内容：%m %n " />
      </layout>
    </appender>
    <!--信息日志配置-->
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="D:\天然气计费系统\Code\IAICN.GasFee.SendSMS.Service\Log\LogInfo\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxFileSize" value="10240" />a
      <param name="MaxSizeRollBackups" value="100" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyyMMdd&quot;.txt&quot;" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n日志时间：%d [%t] %n日志级别：%-5p %n日 志 类：%c %n内容：%m %n" />
      </layout>
    </appender>
    <!--控制台-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%5level [%thread] (%file:%line) - %message%newline" />
      </layout>
    </appender>

    <!--log4net.LogManager.GetLogger("logerror")用这个来选择这种类型-->
    <logger name="logerror" additivity="false">
      <level value="ERROR" />
      <appender-ref ref="ErrorAppender" />
    </logger>
    <!--additivity属性false:不继承root-->
    <logger name="loginfo" additivity="false">
      <level value="INFO" />
      <appender-ref ref="InfoAppender" />
    </logger>
    <root>
      <level value="INFO" />
      <appender-ref ref="InfoAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
</configuration>